<main>
    {{> portfolio }}
    <section class="portfolio">
        {{#each portfolio}}
            <h2 class="portfolio-title">{{this.title}}</h2>
            {{#each this.galleries}}
                <div class="portfolio__gallery gallery">
                    <h3 class="gallery__title">{{this.title}}</h3>
                    <div class="gallery__container" id={{this.id}}>
                    {{#each this.images}}
                        <a href="{{this.link}}">
                            <img alt="{{this.title}}" src="{{this.image}}">
                        </a>
                    {{/each}}
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </section>
</main>
