<header class="header">
    <div class="header__wrapper">
        <nav class="navigation">
            <ul class="navigation__list">
                {{#each navigation.leftMenu}}
                <li class="navigation__item">
                    <a class="navigation__link" href={{this.href}}>
                        {{__ this.translationKey}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </nav>
        <div class="logo">
            <a href="/">
                <img alt="logo" class="logo__img" src="assets/img/logo.png">
            </a>
        </div>
        <nav class="navigation">
            <ul class="navigation__list">
                {{#each navigation.rightMenu}}
                <li class="navigation__item">
                    <a class="navigation__link" href={{this.href}}>
                        {{__ this.translationKey}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </nav>
        <button class="burger-btn" id="burger-btn"></button>
    </div>
    <nav id="mobile-menu">
        <button class="mobile-menu__close"></button>
        <ul>
            {{#each navigation.leftMenu }}
            <li class="navigation__item">
                <a class="navigation__link" href={{this.href}}>
                    {{__ this.translationKey}}
                </a>
            </li>
            {{/each}}
            {{#each navigation.rightMenu }}
            <li class="navigation__item">
                <a class="navigation__link" href={{this.href}}>
                    {{__ this.translationKey}}
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>
</header>
